.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 900;
    margin-right: 1rem;
    &:hover {
    opacity: 0.8;
    background-color: rgb(99, 224, 228);
    }
    &active {
        background-color: rgb(41, 77, 78);
        color: #fff;
    }
}